// Copyright (c) 2023 Nordic Semiconductor ASA
// SPDX-License-Identifier: Apache-2.0

/dts-v1/;
#include <nordic/nrf52832_qfaa.dtsi>

/ {
	model = "laz_nrf52832";
	compatible = "laz-nrf52832";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 17 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
		led1: led_1 {
			gpios = <&gpio0 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
		led2: led_2 {
			gpios = <&gpio0 19 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
		led3: led_3 {
			gpios = <&gpio0 20 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
	};

	keys {
		compatible = "gpio-keys";
		key0: key_0 {
			gpios = <&gpio0 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
		key1: key_1 {
			gpios = <&gpio0 14 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
		key2: key_2 {
			gpios = <&gpio0 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
		key3: key_3 {
			gpios = <&gpio0 16 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
		};
	};

	aliases {
		led0 = &led0;
		led1 = &led1;
		led2 = &led2;
		led3 = &led3;

		key0 = &key0;
		key1 = &key1;
		key2 = &key2;
		key3 = &key3;

		sw0 = &key0;
		sw1 = &key1;
		sw2 = &key2;
		sw3 = &key3;
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x0 0xc000>;
		};
		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0xc000 0x32000>;
		};
		slot1_partition: partition@3e000 {
			label = "image-1";
			reg = <0x3e000 0x32000>;
		};
		scratch_partition: partition@70000 {
			label = "image-scratch";
			reg = <0x70000 0xa000>;
		};
		storage_partition: partition@7a000 {
			label = "storage";
			reg = <0x7a000 0x6000>;
		};
	};
};


&gpio0 {
	status = "okay";
};


&pinctrl {
	uart0_default: uart0_default {
		group1 {
			/*
			psels = <NRF_PSEL(UART_RTS, 0, 5)>,
					<NRF_PSEL(UART_TX,  0, 6)>,
					<NRF_PSEL(UART_CTS, 0, 7)>,
					<NRF_PSEL(UART_RX,  0, 8)>;
			*/
			psels = <NRF_PSEL(UART_TX,  0, 6)>,
					<NRF_PSEL(UART_RX,  0, 8)>;
		};
	};
	uart0_sleep: uart0_sleep {
		group1 {
			/*
			psels = <NRF_PSEL(UART_RTS, 0, 5)>,
					<NRF_PSEL(UART_TX,  0, 6)>,
					<NRF_PSEL(UART_CTS, 0, 7)>,
					<NRF_PSEL(UART_RX,  0, 8)>;
			*/
			psels = <NRF_PSEL(UART_TX,  0, 6)>,
					<NRF_PSEL(UART_RX,  0, 8)>;
			low-power-enable;
		};
	};
};


&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_default>;
	pinctrl-1 = <&uart0_sleep>;
	pinctrl-names = "default", "sleep";
};
